@import "~bootstrap/scss/bootstrap";

@media only screen and (max-width: 600px) {
  .winbox {
    width: 75vw !important;
    height: 50vh !important;
    top: 10vh !important;
    right: 0vh !important;
    bottom: 0vh !important;
    left: -60vw !important;
  }
}

.winbox.modern {
  animation: none !important;
}

//.form
//.about
//.campaign
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #333;
  height: 60px;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  a {
    color: #333;
    margin-right: 20px;
  }
  a:hover {
    color: #000;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  .logo {
    color: red;
    font-size: 20px;
    text-transform: uppercase;
  }

  .logo a {
    color: red;
  }

  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      height: auto;
    }

    .header ul {
      margin: 20px 0;
      flex-direction: column;
      text-align: center;
    }

    .header a {
      margin-right: 0;
    }

    .logo {
      margin: 20px 0;
    }
  }
}
