@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --dark-bg: #262626;
  --gray-1: #bcb4b4;
  --deep-dark: #1e1e1e;
  --gray-2: #363636;
  --white: white;
  --black: black;
  font-size: medium;
}

@media only screen and (max-width: 600px) {
  .winbox {
    width: 75vw !important;
    height: 50vh !important;
    top: 10vh !important;
    right: 0vh !important;
    bottom: 0vh !important;
    left: -60vw !important;
  }
}

.winbox.modern {
  animation: none !important;
}

.about{
  margin-top: 5vh;
  //z-index: 100 !important;
  padding: 4vw;
  padding-top: 0;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #333;
  height: 60px;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  a {
    color: #333;
    margin-right: 20px;
  }
  a:hover {
    color: #000;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  .logo {
    color: red;
    font-size: 20px;
    text-transform: uppercase;
  }

  .logo a {
    color: red;
  }

  ul,
  li {
    list-style: none;
  }
}
html {
  font-size: 10px;
  font-family: "Roboto Mono";
  background-color: var(--dark-bg);
}
.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-bg);
  color: white;
  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 90%;
    margin: 10% auto;
    justify-content: center;
    font-size: 1rem;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .contact-me {
    text-align: center;
  }
  .contact-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 8%;

    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
        padding: 10px;
        font-size: 1.5rem;
        color: white;
      }
    }
    .buttin {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      text-align: center !important;
    }
  }
  @media only screen and (max-width: 600px) {
    flex-wrap: unset;
    .contact-group {
      width: 100%;

      padding-top: 8%;
    }
  }
}

.brand-text {
  margin-left: 4rem;
  font-weight: 700;
}
.nav-link {
  margin: 20px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 1rem;
}
.nav-link:hover,
.nav-link:focus {
  background-color: #fefefe;
  color: #212529 !important;
  border-radius: 1rem;
}

.home {
  .showcase {
    height: 300px;
    width: 100%;
    background: #000 url("./assets/a1.jpg") no-repeat center 25%;
    background-size: cover;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   // z-index: 20;
    font-family: "Poppins", sans-serif;
    line-height: 1.8;
    background-color: var(--dark-bg);
    .orange {
      color: #ff7314;
    }
    //color: black;
    h1 {
      font-size: 40px;
      margin-bottom: 0;
      background-color: rgba(0, 0, 0, 0.75);
      padding: 10px;
    }
    @media only screen and (max-width: 600px) {
      height: 155px;
      h1 {
        font-size: 20px;
      }
    }
  }
  .other-text{
    background-color: var(--dark-bg);
    color: white;
    font-family: "Poppins", sans-serif;
    .container {
      display: flex;
      flex-wrap: wrap;
      max-width: 1200px;
      width: 90%;
      padding: 10% auto;
      padding-top: 30px;
      justify-content: center;
      font-size: 1.25rem;
      flex-direction: column;
    }
  }
}
.hidden {
  display: none;
}
.butts{
  display: felx;
  flex-wrap: wrap;
  flex-direction: row;
  .btn{
    margin: 10px;
  }

}