@import "~bootstrap/scss/bootstrap";

:root{
  --dark-bg: #262626;
  --gray-1: #BCB4B4;
  --deep-dark: #1E1E1E;
  --gray-2: #363636;
  --white : white;
  --black: black;
}

@media only screen and (max-width: 600px) {
  .winbox {
    width: 75vw !important;
    height: 50vh !important;
    top: 10vh !important;
    right: 0vh !important;
    bottom: 0vh !important;
    left: -60vw !important;
  }
}

.winbox.modern {
  animation: none !important;
}

//.form
//.about
//.campaign
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #333;
  height: 60px;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  a {
    color: #333;
    margin-right: 20px;
  }
  a:hover {
    color: #000;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  .logo {
    color: red;
    font-size: 20px;
    text-transform: uppercase;
  }

  .logo a {
    color: red;
  }



  ul,li{
    list-style: none;
  }
}
html{
  font-size: 10px;
  font-family: 'Roboto Mono';
  background-color: var(--dark-bg);
}
 .form{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
font-size: 10px;
background-color: var(--dark-bg);
color: white;
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 90%;
  margin: 10% auto;
  justify-content: center;
}
.form-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.contact-me{
  text-align: center;
}
.contact-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

  .links{
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
  a{
    text-decoration: none;
    padding: 10px;
    font-size: 1.5em;
    color: white;
  }
  }
}
@media only screen and (max-width: 600px) {
  flex-wrap:unset;
  .contact-group{
    width: 100%;

    padding-top: 5%;
  }
}
 }



 .brand-text {
  margin-left: 4rem;
  font-weight: 700;
}
.nav-link {
  margin: 20px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 1rem;
}
.nav-link:hover,
.nav-link:focus {
  background-color: #fefefe;
  color: #212529 !important;
  border-radius: 1rem;
}